# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: 20m2 CI/CD Pipeline

on:
  push:
    branches: [ DEV ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'adopt'
        server-id: docker.io
        server-username: MAVEN_USERNAME
        server-password: MAVEN_PASSWORD

    - name: Build and Push 20m2 microservice discovery-server
      run: mvn package dockerfile:push --file discovery-server/pom.xml
      env:
        MAVEN_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        MAVEN_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push 20m2 microservice api-gw
      run: mvn package dockerfile:push --file api-gw/pom.xml
      env:
        MAVEN_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        MAVEN_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push 20m2 microservice user-service
      run: mvn package dockerfile:push --file user-service/pom.xml
      env:
        MAVEN_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        MAVEN_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
#    - name: Build and Push 20m2 microservice product-service
#      run: mvn package dockerfile:push --file product-service/pom.xml
#      env:
#        MAVEN_USERNAME: ${{ secrets.DOCKER_USERNAME }}

#        MAVEN_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
#    - name: Build and Push 20m2 microservice customer-service
#      run: mvn package dockerfile:push --file customer-service/pom.xml
#      env:
#        MAVEN_USERNAME: ${{ secrets.DOCKER_USERNAME }}

#        MAVEN_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
#    - name: Build and Push 20m2 microservice inventory-service
#      run: mvn package dockerfile:push --file inventory-service/pom.xml
#      env:
#        MAVEN_USERNAME: ${{ secrets.DOCKER_USERNAME }}
#        MAVEN_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
#
#    - name: Build and Push 20m2 microservice order-service
#      run: mvn package dockerfile:push --file order-service/pom.xml
#      env:
#        MAVEN_USERNAME: ${{ secrets.DOCKER_USERNAME }}

#        MAVEN_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}


